////////////////////////
// Design Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All styling, non box model properties go here
////////////////////////