//////////////////////////////
// Modern Clearfix Mixin
//////////////////////////////
@mixin clearfix($extend: null) {
  $extend: if($extend != null, $extend, toolkit-get('clearfix extend'));
  @if $extend {
    @extend %toolkit-clearfix;
  }
  @else {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

%toolkit-clearfix {
  @include clearfix(false);
}