*, *:before, *:after {
  @if mixin-exists('box-sizing') {
    @include box-sizing('border-box');
  }
  @else {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

img, video {
  max-width: 100%;
  height: auto;
}