////////////////////////
// Enhance From
//
// - $feature: Modernizr feature (base CSS class name)
////////////////////////
@mixin enhance-with($features, $extend: null) {
  $extend: if($extend != null, $extend, toolkit-get('enhance with extend'));

  @if $extend {
    $uid: unique-id();
    @at-root %#{$uid} {
      @content;
    }
    @each $feature in $features {
      .#{$feature} & {
        @extend %#{$uid};
      }
    }
  }
  @else {
    @each $feature in $features {
      .#{$feature} & {
        @content;
      }
    }
  }
}

////////////////////////
// Degrade From
//
// - $feature: Modernizr feature (base CSS class name)
////////////////////////
@mixin degrade-from($features, $no-js: null, $extend: null) {
  $no-js: if($no-js != null, $no-js, toolkit-get('degrade from javascript'));
  $extend: if($extend != null, $extend, toolkit-get('degrade from extend'));

  @if $extend {
    $uid: unique-id();
    @at-root %#{$uid} {
      @content;
    }

    @each $feature in $features {
      .no-#{$feature} & {
        @extend %#{$uid};
      }
    }

    @if not index($features, 'js') and $no-js == true {
      .no-js & {
        @extend %#{$uid};
      }
    }
  }
  @else {
    @each $feature in $features {
      .no-#{$feature} & {
        @content;
      }
    }

    @if not index($features, 'js') and $no-js == true {
      .no-js & {
        @content;
      }
    }
  }
}