*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/stylesheets/../behaviors/box-sizing/boxsizing.php');
}

img, video {
  max-width: 100%;
  height: auto;
}

.carousel {
  overflow: hidden;
  width: 100%;
}
.carousel img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.carousel > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.carousel > ul > li {
  position: relative;
  float: left;
}

.carousel > ul {
  width: 500%;
}
.carousel > ul > li {
  width: 20%;
}
.carousel > ul {
  -webkit-animation: carousel 30s infinite;
  -moz-animation: carousel 30s infinite;
  -o-animation: carousel 30s infinite;
  animation: carousel 30s infinite;
}

@-moz-keyframes carousel {
  0% {
    left: 0%;
  }

  7.5% {
    left: 0%;
  }

  12.5% {
    left: -100%;
  }

  20% {
    left: -100%;
  }

  25% {
    left: -200%;
  }

  32.5% {
    left: -200%;
  }

  37.5% {
    left: -300%;
  }

  45% {
    left: -300%;
  }

  50% {
    left: -400%;
  }

  57.5% {
    left: -400%;
  }

  62.5% {
    left: -300%;
  }

  70% {
    left: -300%;
  }

  75% {
    left: -200%;
  }

  82.5% {
    left: -200%;
  }

  87.5% {
    left: -100%;
  }

  95% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

@-webkit-keyframes carousel {
  0% {
    left: 0%;
  }

  7.5% {
    left: 0%;
  }

  12.5% {
    left: -100%;
  }

  20% {
    left: -100%;
  }

  25% {
    left: -200%;
  }

  32.5% {
    left: -200%;
  }

  37.5% {
    left: -300%;
  }

  45% {
    left: -300%;
  }

  50% {
    left: -400%;
  }

  57.5% {
    left: -400%;
  }

  62.5% {
    left: -300%;
  }

  70% {
    left: -300%;
  }

  75% {
    left: -200%;
  }

  82.5% {
    left: -200%;
  }

  87.5% {
    left: -100%;
  }

  95% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

@-o-keyframes carousel {
  0% {
    left: 0%;
  }

  7.5% {
    left: 0%;
  }

  12.5% {
    left: -100%;
  }

  20% {
    left: -100%;
  }

  25% {
    left: -200%;
  }

  32.5% {
    left: -200%;
  }

  37.5% {
    left: -300%;
  }

  45% {
    left: -300%;
  }

  50% {
    left: -400%;
  }

  57.5% {
    left: -400%;
  }

  62.5% {
    left: -300%;
  }

  70% {
    left: -300%;
  }

  75% {
    left: -200%;
  }

  82.5% {
    left: -200%;
  }

  87.5% {
    left: -100%;
  }

  95% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes carousel {
  0% {
    left: 0%;
  }

  7.5% {
    left: 0%;
  }

  12.5% {
    left: -100%;
  }

  20% {
    left: -100%;
  }

  25% {
    left: -200%;
  }

  32.5% {
    left: -200%;
  }

  37.5% {
    left: -300%;
  }

  45% {
    left: -300%;
  }

  50% {
    left: -400%;
  }

  57.5% {
    left: -400%;
  }

  62.5% {
    left: -300%;
  }

  70% {
    left: -300%;
  }

  75% {
    left: -200%;
  }

  82.5% {
    left: -200%;
  }

  87.5% {
    left: -100%;
  }

  95% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}
