////////////////////////
// Style Guide Partials
//
// Write a Style Guide for your website, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All Style Guide selectors should go in here, regardless of layout or design
//  (but separating the two in here is a good idea).
////////////////////////